 .image{
   width: 300px;
   height: 500px; 
   background-image: url(./img/img1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   transition:all ease-in-out 2s;
}
.image:hover{
   background-image: url(./img/img2.jpg);
}
 
 